$color-primary:#9356DC;
$color-secondary:#FF79DA;
$color-tertiary:#99E2D0;
$color-inv:#FFFF;

$breakpoints : (mobile :375px);
@mixin mobile-only {
    @media screen and{ 
        max-width: map-get($breakpoints,mobile)
        {@content};
    }
    
}
