$prog-bar-dur :1000ms;
$prog-bar-delay :150ms;
$col-bar: $color-tertiary;
$size: 3vh;

@keyframes progress-bar{
    0% {transform: scale x(0);}
    17% { transform: scale x(.18);}
    24% { transform: scale x(.40);
        animation-timing-function:
        cubic-bezier(.9,0,.1,1);}
    46% { transform : scale x(.81);
        animation-timing-function:
        cubic-bezier(.25,0.25,1);}
    100% {transform: scale x(1);}
}
// .load__bar{
//     width: 90%;
//     &__bar{
//         background-color: $col-bar;
//         transform-origin: left;
//         transform: scale(0.5);
//         animation: bar $prog-bar-dur $prog-bar-delay backwards infinite ease-in-out alternate;
//     }
// }

#progress{
    display: inline;
    width: 90%;
    margin: auto;
    font-weight: lighter;
    text-align: center;
}
.load_bar{
    width: auto;
    height: 20px;
    padding: 3px 3px 2px 3px;
    border: 2px solid grey;
    border-radius: 15px;
    background-color: $col-bar; 
    opacity: 0.5;
    // :hover{
    // transform-origin: left;
    // transform: scale(0.5);
    // animation: bar $prog-bar-delay backwards ease-in-out;
    :hover {
        // transform: scaleX(1);
        animation-name: progress-bar;
        animation: $prog-bar-delay backwards ease-in-out;
        }
}