body{
    font-family: 'Roboto', sans-serif;
}
h2{
    font-size: $font *1.8;
}
h3{
    font-size: $font;
}
p{
    font-size: $font;  
    font-weight: 300;
}

a {
    text-decoration: none;
    color: black;
    line-height: 0;
    font-weight: 300;
}
